
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 120px auto;
    background: #ffffff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #2a9d8f;
}

form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #2a9d8f;
    color: white;
    border: none;
    cursor: pointer;
}

.blogPost {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.blogPost img {
    width: 70%;
    max-height: 350px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.blogPost h3 {
    color: #2a9d8f;
}

.blogPost p {
    color: #555;
}

.timestamp {
    font-size: 0.8rem;
    color: #777;
}

button {
    margin-right: 10px;
    cursor: pointer;
    background: #2a9d8f;
    width: 60px;
    color: #fff;
    border-radius: 30px;
}


  
  
